################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CTHarmonyAdapters
/obj/Debug
/bin/Debug
